body {
    background-color: #FDFBF0;
    margin: 0;
    padding: 0;
}

.inicio {
    background-color: #174C4F;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.but_inicio,
.but_nosot,
.but_colab {
    background-color: #527c7b;
    font-family: "M PLUS 1", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 15px;
    margin-left: auto;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.logo {
    margin-top: -10px;
    width: 300px;
    height: 80px;
}

.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
}

.nombre_web {
    font-family: "M PLUS 1", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}

.web_info {
    font-family: "M PLUS 1", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-left: 00px;
}

.div_web_info {
    display: flex;
    justify-content: center;
}

.web_imagen {
    margin-top: 50px;
    background-color: #006973;
    margin-left: 250px;
    width: 1400px;
    height: 600px;
    margin-bottom: 50px;
}

.ropa_img {
    margin-left: 200px;
    margin-top: 50px;
    width: 1000px;
    height: 500px;
}

.colaboraciones {
    background-color: #FDFBF0;
    padding: 20px;
    text-align: center;
}

.colaboraciones h2 {
    margin-bottom: 20px;
    color: #333;
}

.colaboraciones p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.colaboraciones button {
    padding: 10px 20px;
    background-color: #527c7b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.colaboraciones button:hover {
    background-color: #405a5a;
}

.formulario {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f0f0f0;
}

.formulario label,
.formulario input,
.formulario textarea {
    display: block;
    margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 5px;
}

.formulario button {
    padding: 8px 20px;
    background-color: #527c7b;
    color: white;
    border: none;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #405a5a;
}

footer {
    padding-top: 100px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
    position: absolute;
    width: 1843px;
}



/* Estilos para pantallas medianas */
@media only screen and (min-width: 696px) and (max-width: 824px) {
    .logo {
        width: 50%;
        margin-left: 25%;
    }
    .nombre_web {
        font-size: 40px;
    }

    .web_imagen{
        margin-left: 0px;
        width: 940px;
    }

    .ropa_img{
        margin-left: 90px;
        width: 758px;
        height: 514px;
    }

    .div_web_info{
        width: 824px;
        height: 100px;
    }

    .web_info{
        width: 800px;
        height: 69px;
        text-align:center;
    }

    .formulario{
        margin-left: 100px;
    }

    footer{
        width: 875px;
    }

    .inicio{
        width: 900px;
    }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 695px) {
    .inicio {
        flex-direction: column;
    }
    .but_inicio,
    .but_nosot,
    .but_colab {
        width: 100%;
    }
    .logo {
        margin-left: 10px;
    }
    .button-container {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .web_imagen {
        height: auto;
        margin-bottom: 30px;
        margin-left: 0px;
        width: 735px;
    }

    .ropa_img{
        margin-left: 80px;
        width: 570px; /* Ajustando el ancho para pantallas pequeñas */
        height: 179px; /* Ajustando la altura para pantallas pequeñas */
        margin-top: 5px;
    }

    .header{
        width: 695px;
        height: 110px;
    }
    .inicio{
        width: 695px;
        height: 110px;
    }

    .web_info{
        width: 500px;
        height: 85px;
        text-align:center;
    }

    .div_web_info{
        width: 700px;
        height: 100px;
    }

    .logo{
        margin-top: 10px;
    }

    .titulo{
        width: 500px;
        margin-left: 60px;
    }

    .nombre_web{
        width: 500px;
        margin-left: 90px;
        text-align:center;
    }

    .formulario{
       
        margin-left: 100px;
    }

    footer{
        width: 675px;
    }

}

