@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FDFBF0;
    margin: 0;
    padding: 0;
}

.start {
    background-color: #174C4F;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    
}

.button-container{
    margin-top: 10px;
    width: 440px;
}

.b_collaboration,
.b_about_us,
.b_sign_in {
    background-color: #FDFBF0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    font-size: 20px;

    margin-left: auto;
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.logo {
    margin-top: -0px;
    width: 253px;
    height: 154px;
    margin-left: 200px;
}

.title {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.web_name {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
}

.web_info {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    margin-left: 00px;
}

.div_web_info {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 10px;
}

.web_image {
    background-color: #008973;
    margin: auto;
    width: auto;
    height: 690px;
    margin-bottom: 90px;
}

.main_imag {
    display: flex;
}

.b_lear_more {
    background-color: #FDFBF0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    font-size: 15px;

    margin-left: auto;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.clothing_img {
    margin-left: 200px;
    margin-top: 50px;
    width: 100%; /* Utilizando un ancho del 100% para que sea más responsive */
    height: auto; /* Para mantener la proporción de la imagen */
    max-width: 80%; /* Asegurando que la imagen no se desborde */
}

.div_b_learn{
    margin-top: -10px;
    margin-right: 880px;
}

.web_line {
    background-color: #527c7b;
    margin: auto;
    width: 95%; /* Porcentaje del ancho de la pantalla */
    height: 7px;
    margin-bottom: 78px;
}

.can_find {
    margin-top: -50px;
    margin-bottom: 45px;
}

.title_can_find {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    margin-right: auto;
    text-align: center;
}

.subtitle_can_find {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.examples_can_find {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    justify-content: center; /* Centrar los elementos */
}

.item_can_find {
    margin: 100px; /* Espaciado entre los elementos */
    text-align: center; /* Centrar los elementos */
}

.imagen_can_find {
    margin: auto;
    width: 100px; /* Tamaño de imagen más pequeño para pantallas pequeñas */
    height: auto; /* Mantener la proporción de la imagen */
    width: 100%
}

.segment_1 {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    justify-content: center; /* Centrar los elementos */
}

.title_segment_1 {
    font-size: 30px;
    margin-bottom: 66px;
}

.info_segment_1 {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    max-width: 600px; /* Limitar el ancho en pantallas grandes */
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin: auto; /* Centrar el contenido */
    text-align: center;
    font-weight: 500;
}

.info-masinfo{
    margin-left: 200px;
}

.info-masinfo2{
    margin-left: 200px;
}

.button_segment_2,
.button_segment_1 {
    background-color: #FDFBF0;
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 15px;
    margin-top: 20px; /* Añadir espacio en la parte superior */
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.image_segment_1 {
    margin: 20px; /* Espaciado entre los elementos */
    text-align: center; /* Centrar los elementos */
}

.segment_2 {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    justify-content: center; /* Centrar los elementos */
}

.title_segment_2 {
    font-size: 30px;
    margin-bottom: 66px;
}

.info_segment_2 {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    max-width: 600px; /* Limitar el ancho en pantallas grandes */
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin: auto; /* Centrar el contenido */
    text-align: center;
    font-weight: 500;
    
}

.image_segment_2 {
    margin: 20px; /* Espaciado entre los elementos */
    text-align: center; /* Centrar los elementos */
}

.move {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    justify-content: center; /* Centrar los elementos */
}

.informa_logo {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.color_font {
    justify-content: flex-end;
    background-color: #FFFFFF;
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    font-family: "Raleway", sans-serif;
}

.data_space {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-form {
    color: #174C4F;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    outline: none;
}

input[type="submit"] {
    background-color: #174C4F;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #174C4F;
    width: auto;
    height: 50px;
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 696px) and (max-width: 824px) {
    .logo {
        width: 50%;
        margin-left: 10%;
    }
    .web_name {
        font-size: 40px;
    }

    .button-container{
        margin-right: 130px;
    }

    .start {
        flex-direction: column;
        
    }

    .clothing_img {
        margin-left: 70px;
        margin-top: 70px;
        width: 100%; /* Utilizando un ancho del 100% para que sea más responsive */
        height: 50%; /* Para mantener la proporción de la imagen */
        max-width: 80%; /* Asegurando que la imagen no se desborde */
    }

    .div_b_learn{
        margin-top: 100px;
        margin-left: 40%;
    }

    .info-masinfo{
        height: 100px;
    }
    
    .info-masinfo2{
        width: 10px;
    }
    .b_lear_more {
        margin-left: 5%
    }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .start {
        flex-direction: column;
        
    }
    .b_lear_more {
        margin-left: 5%
    }
    .web_image {
        height: 500px; /* Altura más pequeña para pantallas pequeñas */
        margin-bottom: 50px; /* Espacio más pequeño en la parte inferior */
    }
    .web_line {
        margin-bottom: 30px; /* Espacio más pequeño en la parte inferior */
    }

    .div_b_learn{
        margin-top: 40px;
        margin-left: 40%;
    }

    .clothing_img {
        margin-left: 70px;
        margin-top: 50px;
        width: 100%; /* Utilizando un ancho del 100% para que sea más responsive */
        height: 50%; /* Para mantener la proporción de la imagen */
        max-width: 80%; /* Asegurando que la imagen no se desborde */
    }
    
    .logo{
        margin-left: 10px;
    }

    .button-container{
        margin-right: 180px;
    }

    .info-masinfo{
        height: 100px;
    }
    
    .info-masinfo2{
        width: 10px;
    }

   
}
